<p id="notice"><%= notice %></p>

<p>
  <strong>Consecutivo:</strong>
  <%= @migracioneslink.consecutivo %>
</p>

<p>
  <strong>User:</strong>
  <%= @migracioneslink.user %>
</p>

<p>
  <strong>Archivo:</strong>
  <%= @migracioneslink.archivo_id %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @migracioneslink.identificacion %>
</p>

<p>
  <strong>Nro obligacion:</strong>
  <%= @migracioneslink.nro_obligacion %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @migracioneslink.valor %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @migracioneslink.mensaje %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @migracioneslink.persona_id %>
</p>

<p>
  <strong>Personasobligacion:</strong>
  <%= @migracioneslink.personasobligacion_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @migracioneslink.estado %>
</p>

<p>
  <strong>Error:</strong>
  <%= @migracioneslink.error %>
</p>

<%= link_to 'Edit', edit_migracioneslink_path(@migracioneslink) %> |
<%= link_to 'Back', migracioneslinks_path %>
