<% con = @persona.controlbloqueo %>
<div class="box box-primary">
	<div class="box-header">
		<legend>Control y Seguimiento</legend>
		<div class="box-tools pull-right">
			<% if con %>
				<%= link_to new_persona_control_path(@persona), remote: true, id: 'new_control_button', class: 'btn btn-sm btn-success' do %>
					<i class="fa fa-plus-square"> </i> <span><%=t :agregar%></span>
				<% end %>
			<% end %>
		</div>
		<% if con == false %>
			<% if @persona.fecha_enviopc.to_s == "" %>
				<div class="alert alert-danger"><strong>Se detecta etapa final del proceso, para enviar la informacion a Cartera pulse <%=link_to 'Aqui', sendpc_personas_path(@persona.id)%></strong></div>
			<% else %>
				<div class="alert alert-success"><strong>Solicitud enviada el <%=@persona.fecha_enviopc.strftime("%d-%m-%Y %X") rescue nil%> por <%=User.find(@persona.user_enviopc).nombre rescue nil%></strong></div>
			<% end %>
		<% end %>
	</div>
	<div class="box-body">
		<div class="flash_messages"></div>
		<div id="control_form" class="collapse"></div>
		<div id="controles">
			<% if @persona.controles.any? %>
				<%= render 'controles/tabla' %>
			<% else %>
				<div class="alert alert-warning"><h4><i class="icon fa fa-info"></i> <%=t :atencion%></h4><%=t :atencion_msj%></div>
			<% end %>
		</div>
	</div>
</div>