<%= form_for(ejecucion) do |f| %>
  <% if ejecucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ejecucion.errors.count, "error") %> prohibited this ejecucion from being saved:</h2>

      <ul>
      <% ejecucion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :procedimiento %>
    <%= f.text_field :procedimiento %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :inicioejecucion %>
    <%= f.datetime_select :inicioejecucion %>
  </div>

  <div class="field">
    <%= f.label :finejecucion %>
    <%= f.datetime_select :finejecucion %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>

  <div class="field">
    <%= f.label :observacion %>
    <%= f.text_field :observacion %>
  </div>

  <div class="field">
    <%= f.label :tiempoejecucion %>
    <%= f.number_field :tiempoejecucion %>
  </div>

  <div class="field">
    <%= f.label :procesamiento_id %>
    <%= f.number_field :procesamiento_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
