<p id="notice"><%= notice %></p>

<p>
  <strong>Infgrupo:</strong>
  <%= @infgruposcampo.infgrupo %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @infgruposcampo.orden %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @infgruposcampo.nombre %>
</p>

<p>
  <strong>Campo:</strong>
  <%= @infgruposcampo.campo %>
</p>

<p>
  <strong>Estilo:</strong>
  <%= @infgruposcampo.estilo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @infgruposcampo.tipo %>
</p>

<p>
  <strong>Tamano:</strong>
  <%= @infgruposcampo.tamano %>
</p>

<p>
  <strong>Estilo encabezado:</strong>
  <%= @infgruposcampo.estilo_encabezado %>
</p>

<%= link_to 'Edit', edit_infgruposcampo_path(@infgruposcampo) %> |
<%= link_to 'Back', infgruposcampos_path %>
