<%= simple_form_for([@persona, @personasimagen], remote: true) do |f| %>
  <%= hidden_field_tag :persona_id, params[:persona_id], value: params[:persona_id] %>
  <div class="box-body">
    <div id="formimg">
      <div class="row">
        <div class="col-md-4">
          <%= f.input :descripcion, as: :string, input_html: {onchange: "javascript:this.value=this.value.toUpperCase();" }, label: 'Descripcion del Archivo' %>
        </div>
        <div class="col-md-4"><%= f.input :tipo, as: :select, collection: select_tipodocumentoim, input_html: { data: { width: '100%' }, class: 'select2 clean' }, label: 'Tipo de Documento' %></div>
        <!-- <div class="col-md-4">
          <%#= f.input :persona, as: :file, label: 'Archivo a cargar' %>
        </div> -->
        <div class="col-md-4">
          <label for="">Documento Digital</label>
          <div class="form-block_container">
            <div class="form-block_input">
              <div class="form-block_avatar_file">
                <div class="file_droparea">
                  <div style="position: absolute;background-color: #eee;height: 100%;width: 34px;padding: 5px; top: 0;">
                    <i class="fa fa-file-pdf-o"></i></div>
                  <p class="file_msg js-set-number">Clic o Arrastra el archivo para cargar</p>
                  <%= f.file_field :persona, multiport: false, class: "file_input", type: :file, multiple: false, required: true %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% if @personasimagen.new_record? %>
          <%= button_tag "#{t :cancelar}", type: 'button', data: { target: '#personasimagen_form' }, class: 'cancel_button btn btn-flat btn-default  pull-left', aria_hidden: true %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.button :submit, "#{t :guardar}", data: { disable_with: "#{t :procesando}" }, class: 'btn btn-flat btn-danger pull-right' %>
      </div>
    </div>
  </div>
<% end %>