<%= simple_form_for([@persona, @personascorreo], remote: true) do |f| %>
  <div class="bs-callout">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :email, label: 'Correo Electronico', input_html: { onChange: 'javascript:this.value=this.value.toUpperCase();', class: 'input_uppercase clean' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% if @personascorreo.new_record? %>
          <%= button_tag "#{t :cancelar}", type: 'button', data: { target: '#personascorreo_form' }, class: 'cancel_button btn btn-flat btn-default  pull-left', aria_hidden: true %>
        <% else %>
          <%= link_to "#{t :cancelar}", persona_personascorreo_path(@persona, @personascorreo), class: 'btn btn-flat btn-default pull-left', aria_hidden: true, remote: true %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.button :submit, "#{t :guardar}", data: { disable_with: "#{t :procesando}" }, class: 'btn btn-flat btn-danger pull-right' %>
      </div>
    </div>
  </div>
<% end %>
