$("#personascorreo_form").collapse("hide");

$("#personascorreo_form").empty();

<% if @active_record.present? %>
	$("#personascorreo_<%= @active_record.id %>").replaceWith("<%= j render 'tr', personascorreo: @active_record %>");
<% end %>

$("#personascorreo_<%= @personascorreo.id %>").html("<td colspan='7'><%= j render 'personascorreos_form' %></td>");

$("#personascorreo_<%= @personascorreo.id %>").addClass("active_personascorreo");

$(".select2").select2();

$(".tooltip").tooltip("hide");

$('[data-toggle="tooltip"]').tooltip();
