<div class="flash_messages"></div>
  <div class="box-header">
    <legend>Direcciones</legend>
    <div class="box-tools pull-right">
    <% if is_auth_c('personasdireccion') %>
      <%= link_to new_persona_personasdireccion_path(@persona), remote: true, id: 'new_personasdireccion_button', class: 'btn btn-sm btn-success' do %>
       <i class="fa fa-plus-square"> </i> <span><%=t :agregar%></span>
     <% end %>
    <% end %>
    </div>
  </div>
<div id="personasdireccion_form" class="collapse"></div>
<div id="personasdirecciones">
  <% if @persona.personasdirecciones.any? %>
    <%= render 'personasdirecciones/tabla' %>
  <% else %>
    <div class="alert alert-warning"><h4><i class="icon fa fa-info"></i> <%=t :atencion%></h4><%=t :atencion_msj%></div>
  <% end %>
</div>
