<div class="flash_messages"></div>
  <div class="box-header">
    <legend>Telefonos</legend>
    <div class="box-tools pull-right">
    <% if is_auth_c('personastelefono') %>
      <%= link_to new_persona_personastelefono_path(@persona), remote: true, id: 'new_personastelefono_button', class: 'btn btn-sm btn-success' do %>
       <i class="fa fa-plus-square"> </i> <span><%=t :agregar%></span>
     <% end %>
    <% end %>
    </div>
  </div>
<div id="personastelefono_form" class="collapse"></div>
<div id="personastelefonos">
  <% if @persona.personastelefonos.any? %>
		<%= render 'personastelefonos/tabla' %>
	<% else %>
		<div class="alert alert-warning"><h4><i class="icon fa fa-info"></i> <%=t :atencion%></h4><%=t :atencion_msj%></div>
	<% end %>
</div>
