<div class="page-header">
  <h3>Informe Cartera</h3>
</div>
<table border="1">
  <tr valign="middle" bgcolor="#CCCCCC">
    <th colspan="5"><div style="color:red; font-size:14px; font-family: Tahoma;" align="center">TITULAR</div></th>
    <th colspan="8"><div style="color:red; font-size:14px; font-family: Tahoma;" align="center">INFORMACION BASICA</div></th>
    <th colspan="5"><div style="color:red; font-size:14px; font-family: Tahoma;" align="center">VENCIDOS</div></th>
    <th colspan="4"><div style="color:orange; font-size:14px; font-family: Tahoma;" align="center">VIGENTES <%=is_fechahoy.strftime("%m-%Y") rescue nil%></div></th>
    <th colspan="3"><div style="color:green; font-size:14px; font-family: Tahoma;" align="center">VALORES POR PAGAR</div></th>
    <th rowspan="2"><div style="color:red; font-size:14px; font-family: Tahoma;" align="center">SALDO TOTAL<br/>DEUDA</div></th>
    <th colspan="5"><div align="center">Contadores</div></th>
    <th colspan="3"><div align="center">Estado del Credito</div></th>
    <th colspan="8"><div align="center">Solicitudes</div></th>
    <th rowspan="2"><div align="center">Analista Responsable</div></th>
    <th rowspan="2"><div align="center">Rankig</div></th>
  </tr>
  <tr valign="middle" bgcolor="#CCCCCC">
    <th><div align="center"><strong>Obligacion</strong></div></th>
    <th><div align="center"><strong>Identificacion Titular</strong></div></th>
    <th><div align="center"><strong>Titular</strong></div></th>
    <th><div align="center"><strong>Telefono</strong></div></th>
    <th><div align="center"><strong>Direccion</strong></div></th>
    <th><div align="center"><strong>Ciudad</strong></div></th>
    <th><div align="center"><strong>Nro Obligacion</strong></div></th>
    <th><div align="center"><strong>Fecha Creación</strong></div></th>
    <th><div align="center"><strong>Tasa Interes PAC</strong></div></th>
    <th><div align="center"><strong>Valor Credito</strong></div></th>
    <th><div align="center"><strong>Valor Otros</strong></div></th>
    <th><div align="center"><strong>Total Financiado</strong></div></th>
    <th><div align="center"><strong>Vlr Total Recaudos</strong></div></th>
    <th><div align="center"><strong>Capital</strong></div></th>
    <th><div align="center"><strong>Corriente</strong></div></th>
    <th><div align="center"><strong>Otros</strong></div></th>
    <th><div align="center"><strong>Mora</strong></div></th>
    <th><div align="center"><strong>Total</strong></div></th>
    <th><div align="center"><strong>Capital</strong></div></th>
    <th><div align="center"><strong>Corriente</strong></div></th>
    <th><div align="center"><strong>Otros</strong></div></th>
    <th><div align="center"><strong>Total</strong></div></th>
    <th><div align="center"><strong>Capital</strong></div></th>
    <th><div align="center"><strong>Otros</strong></div></th>
    <th><div align="center"><strong>Total</strong></div></th>
    <th><div align="center"><strong>Plazo</strong></div></th>
    <th><div align="center"><strong>Altura</strong></div></th>
    <th><div align="center"><strong>Pagadas</strong></div></th>
    <th><div align="center"><strong>En Mora</strong></div></th>
    <th><div align="center"><strong>Por Facturar</strong></div></th>
    <th><div align="center"><strong>Dias Vencidos</strong></div></th>
    <th><div align="center"><strong>Calificación Cartera</strong></div></th>
    <th><div align="center"><strong>Estado Obligacion</strong></div></th>
    <th><div align="center"><strong>Ampliacion de plazo</strong></div></th>
    <th><div align="center"><strong>Disminucion de plazo</strong></div></th>
    <th><div align="center"><strong>Acuerdo de pago - efectivo</strong></div></th>
    <th><div align="center"><strong>Acuerdo de pago - plazo</strong></div></th>
    <th><div align="center"><strong>Reestructuracion</strong></div></th>
    <th><div align="center"><strong>Remate</strong></div></th>
    <th><div align="center"><strong>Congelamiento obligacion</strong></div></th>
    <th><div align="center"><strong>Otras solicitudes</strong></div></th>
  </tr>
<% @objetos.each do |objeto|%>
  <tr>
     <td><div align="right"><%=objeto.nro_obligacion rescue nil%></div></td>
     <td><div align="left"><%=objeto.identificacion rescue nil%>  </div></td>
     <td><div align="left"><%=objeto.nombres rescue nil%>  </div></td>
     <td><div align="left"><%=objeto.pertelefono rescue nil%></div></td>
     <td><div align="left"><%=objeto.perdireccion rescue nil%></div></td>
     <td><div align="left"><%=objeto.perciudad rescue nil%></div></td>
    <td><div align="center"><%=objeto.nro_obligacion rescue nil %></div></td>
    <td><div align="center">-</div></td>
    <td><div align="center"><%=objeto.historicostasa rescue nil%> E.A.</div></td>
    <td><div align="right"><%=camponumerico(objeto.valor) rescue nil%></div></td>
    <td><div align="right"><%=camponumerico(objeto.reestruc_vlr_otros) rescue nil%></div></td>
    <td><div align="right"><%=camponumerico(objeto.totalfinanciado) rescue nil%></div></td>
    <td><div align="right"><%=camponumerico(objeto.recaudovalor) rescue nil%></div></td>
    <td><div align="right"><%=camponumerico(objeto.saldocapitalvencido) rescue nil %></div></td>
    <td><div align="right"><%=camponumerico(objeto.saldointerescorriente) rescue nil %></div></td>
    <td><div align="right"><%=camponumerico(objeto.saldootros) rescue nil %></div></td>
    <td><div align="right"><%=camponumerico(objeto.saldointeresmora) rescue nil %></div></td>
    <td><div align="right"><%=camponumerico(objeto.totalvencido) rescue nil %></div></td>
    <td><div align="right"><%=camponumerico(objeto.vlrcuotacapital) rescue nil %></div></td>
    <td><div align="right"><%=camponumerico(objeto.vlrcuotacorriente) rescue nil %></div></td>
    <td><div align="right"><%=camponumerico(objeto.vlrcuotaotros) rescue nil %></div></td>
    <td><div align="right"><%=camponumerico(objeto.vlrcuota) rescue nil %></div></td>
    <td><div align="right"><%=camponumerico(objeto.capitalporpagar) rescue nil%></div></td>
    <td><div align="right"><%=camponumerico(objeto.otrosporpagar) rescue nil%></div></td>
    <td><div align="right"><%=camponumerico(objeto.totalporpagar) rescue nil%></div></td>
    <td><div align="right"><%=camponumerico(objeto.saldototaldeuda) rescue nil%></div></td>
    <td><div align="center"><%=objeto.obplazo rescue nil%></div></td>
    <td><div align="center"><%=objeto.obaltura rescue nil%></div></td>
    <td><div align="center"><%=objeto.obcuotaspagadas rescue nil%></div></td>
    <td><div align="center"><%=objeto.obcuotasmora rescue nil%></div></td>
    <td><div align="center"><%=objeto.obcuotasporpagar rescue nil%></div></td>
    <td><div align="center"><%=objeto.diasvencoblig rescue nil%></div></td>
    <td><div align="center"><%=objeto.calificacion rescue nil%></div></td>
    <td><div style="color:red; font-size:16px; font-family: Tahoma;" align="center"><strong><%=objeto.estadoobli rescue nil%></strong></div></td>
    <td><div align="center"><%=objeto.ampliacion rescue nil%></div></td>
    <td><div align="center"><%=objeto.disminucion rescue nil%></div></td>
    <td><div align="center"><%=objeto.acuerdoefe rescue nil%></div></td>
    <td><div align="center"><%=objeto.acuerdoplazo rescue nil%></div></td>
    <td><div align="center"><%=objeto.reestructuracion rescue nil%></div></td>
    <td><div align="center"><%=objeto.remate rescue nil%></div></td>
    <td><div align="center"><%=objeto.congelamiento rescue nil%></div></td>
    <td><div align="center"><%=objeto.otras rescue nil%></div></td>
    <td><div align="center"><%=objeto.userresponsable rescue nil%></div></td>
    <td><div align="center"><%=objeto.ranking rescue nil%></div></td>
  </tr>
<% end %>
</table>