
<div class="page-header">
  <h3>Informe Cartera</h3>
</div>
<table border="1">
  <tr valign="middle" bgcolor="#00FF00">
    <td><strong>Obligacion</strong></td>
    <td><strong>Titular</strong></td>
    <td><strong>Telefono</strong></td>
    <td><strong>Direccion</strong></td>
    <td><strong>Ciudad</strong></td>
    <td><strong>Periodo</strong></td>
    <td><strong>S_Vencido</strong></td>
    <td><strong>I_Mora</strong></td>
    <td><strong>C_Actual</strong></td>
    <td><strong>P_Minimo</strong></td>
    <td><strong>D_Mora</strong></td>
    <td><strong>S_Capital</strong></td>
    <td><strong>S_I_Corriente</strong></td>
    <td><strong>S_I_Mora</strong></td>
    <td><strong>Saldo_Total</strong></td>
    <td><strong>V_Capital</strong></td>
    <td><strong>V_I_Corriente</strong></td>
    <td><strong>Valor_Cuota_Actual</strong></td>
    <td><strong>C_Pactadas</strong></td>
    <td><strong>C_Pagadas</strong></td>
    <td><strong>C_Mora</strong></td>
    <td><strong>C_Facturadas</strong></td>
    <td><strong>Int_Corriente_EA</strong></td>
    <td><strong>Int_Mora_EA</strong></td>
    <td><strong>Fecha_Corte</strong></td>
    <td><strong>Otros_STC</strong></td>
    <td><strong>Otros_VCA</strong></td>
  </tr>
<% @procesos.each do |proceso|%>
  <tr valign="middle">
     <td><div align="right"><%=proceso.obligacion rescue nil%></div></td>
     <td><div align="left"><%=proceso.titular rescue nil%>  </div></td>
     <td><div align="left"><%=proceso.telefono rescue nil%></div></td>
     <td><div align="left"><%=proceso.direccion rescue nil%></div></td>
     <td><div align="left"><%=proceso.ciudad rescue nil%></div></td>
     <td><div align="left"><%=descmes(proceso.fecha_corte.strftime("%m").to_i)%> - <%= proceso.fecha_corte.strftime("%Y") %></div></td>
     <td><div align="right"><%=camponumerico(proceso.s_vencido) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.i_mora) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.c_actual) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.p_minimo) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.d_mora) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.s_capital) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.s_i_corriente) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.s_i_mora) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.saldo_total) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.v_capital) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.v_i_corriente) rescue nil%></div></td>
     <td><div align="right"><%=camponumerico(proceso.valor_cuota_actual) rescue nil%></div></td>
     <td><div align="right"><%=proceso.c_pactadas rescue nil%></div></td>
     <td><div align="right"><%=proceso.c_pagadas rescue nil%></div></td>
     <td><div align="right"><%=proceso.c_mora rescue nil%></div></td>
     <td><div align="right"><%=proceso.c_facturadas rescue nil%></div></td>
     <td><div align="right"><%=proceso.int_corriente_ea rescue nil%></div></td>
     <td><div align="right"><%=proceso.int_mora_ea rescue nil%></div></td>
     <td><div align="left"><%= proceso.fecha_corte.strftime("%Y-%m-%d")%></div></td>
     <td><div align="right"><%=camponumerico(proceso.s_otros) rescue 0%></div></td>
     <td><div align="right"><%=camponumerico(proceso.v_otros) rescue 0%></div></td>
  </tr>
<% end %>
</table>



