<div class="box box-primary">
	<div class="box-header">
		<legend>Codeudores</legend>
		<div class="box-tools pull-right">
		<% if is_auth_c('personascodeudor') %>
			<%= link_to new_persona_personascodeudor_path(@persona), remote: true, id: 'new_personascodeudor_button', class: 'btn btn-sm btn-success' do %>
				<i class="fa fa-plus-square"> </i> <span><%=t :agregar%></span>
			<% end %>
		<% end %>
		</div>
	</div>
	<div class="box-body">
		<div class="flash_messages"></div>
		<div id="personascodeudor_form" class="collapse"></div>
		<div id="personascodeudores">
			<% if @persona.personascodeudores.any? %>
				<%= render 'personascodeudores/tabla' %>
			<% else %>
				<div class="alert alert-warning"><h4><i class="icon fa fa-info"></i> <%=t :atencion%></h4><%=t :atencion_msj%></div>
			<% end %>
		</div>
	</div>
</div>