<p id="notice"><%= notice %></p>

<p>
  <strong>Modulo:</strong>
  <%= @moduloscampo.modulo %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @moduloscampo.orden %>
</p>

<p>
  <strong>Encabezado:</strong>
  <%= @moduloscampo.encabezado %>
</p>

<p>
  <strong>Campo:</strong>
  <%= @moduloscampo.campo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @moduloscampo.tipo %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @moduloscampo.detalle %>
</p>

<%= link_to 'Edit', edit_moduloscampo_path(@moduloscampo) %> |
<%= link_to 'Back', moduloscampos_path %>
