<!DOCTYPE html>
<html>
<head>
  <title>APP - Personas</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body class="sidebar-mini skin-blue-light">
<div class="wrapper">
  <%= render 'layouts/main_layout/main_header' %>
  <%= if action_name == 'edit'# or 'new'
    render 'layouts/personas_layout/main_sidebar'
  else
    render 'layouts/personas_layout/main_index_sidebar'
  end
  %>
  <%= render 'layouts/personas_layout/main_content' %>
  <%= render 'layouts/main_layout/main_footer' %>
  <%= render 'layouts/main_layout/control_sidebar' %>
</div>
</body>
</html>
