<!DOCTYPE html>
<html>
  <head>
    <title>Sapiencia</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>
  <body class="sidebar-mini skin-blue-light">
    <div class="wrapper">
      <%= render 'layouts/main_layout/main_header' %>
      <section class="content">
        <div class="box box-primary">
          <%= yield %>
        </div>
      </section>
    </div>
  </body>
</html>
