<!DOCTYPE html>
<html>
  <head>
    <title>Sapiencia</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body class="layout-top-nav">
    <div class="wrapper">
      <section class="content">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
