<!DOCTYPE html>
<html>
  <head>
    <title>Corporacion</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="hold-transition skin-black-light sidebar-mini">
<div class="wrapper">
  <%= render 'layouts/without_seg_layout/content_wrapper' %>  
</div>
</body>
</html>
